/* MyScenesPage Module Styles */

.backToLabButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
  position: relative;
  z-index: 100;
  pointer-events: auto;
  transform: scale(0.8);
}
