/* Reset and base styles */
body { 
    margin: 0; 
    font-size: 1.2rem;
    font-family: Formation Sans Regular, sans-serif;
    
}

#root {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* Simple control panel for Step 1 */
.controls {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(81, 68, 124, 0.499);
    color: rgba(255, 255, 255, 0.781);
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(136, 197, 233, 0.42);
    z-index: 1000;
}

.controls label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.controls input[type="range"] {
    width: 200px;
    height: 4px;
    background: #9ca3b9de;
    border-radius: 2px;
    outline: none;
    -webkit-appearance: none;
}

.controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #4ecdc4;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.controls input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #4ecdc5e5;
}

.value-display {
    color: #4ecdc4;
    font-weight: bold;
    float: right;
}